<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <add name="EventLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Leaderboard Web browser 1.4 Beta 4 Forkshaft 4(1.4.7.4)"/>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    
  <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <userSettings>
    <WindowsApplication.My.MySettings>
      <setting name="ribbonmenuverify" serializeAs="String">
        <value>Ribbon</value>
      </setting>
      <setting name="tabtypecheck" serializeAs="String">
        <value>Tab</value>
      </setting>
      <setting name="menucolour" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="tabcolour" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="parentpassword" serializeAs="String">
        <value />
      </setting>
      <setting name="parentalload" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="blender" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="homepage" serializeAs="String">
        <value>www.google.co.in</value>
      </setting>
      <setting name="firstrun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="websitedrag" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="scripterrors" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="searchbase" serializeAs="String">
        <value>Bing</value>
      </setting>
      <setting name="bingsearch" serializeAs="String">
        <value>http://www.bing.com/search?q=</value>
      </setting>
      <setting name="googlesearch" serializeAs="String">
        <value>http://www.google.co.in/#q=</value>
      </setting>
      <setting name="yahoosearch" serializeAs="String">
        <value>http://search.yahoo.com/search?p=</value>
      </setting>
      <setting name="homepage2" serializeAs="String">
        <value>www.bing.com</value>
      </setting>
      <setting name="baselocation" serializeAs="String">
        <value>http:/www.lead-board.com</value>
      </setting>
      <setting name="firstrunmode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="homepage3" serializeAs="String">
        <value>http://www.lead-board.com</value>
      </setting>
      <setting name="s" serializeAs="String">
        <value>0</value>
      </setting>
    </WindowsApplication.My.MySettings>
  </userSettings>
</configuration>
